:root {
  --green-color: #44C6A9;
  --blue-color: #1074A5;
  --heading-color: #1e1e1e;
  --text-color: #1E1E1E;
  --white-color: #fff;
  --black-color: #000;
  --main-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --button-font: "Inter", sans-serif;
}

html,
body {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 0 4%;
}

@media (min-width:1450px) {
  .container {
    max-width: 1500px;
  }
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--main-font);
}

.float_filter {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0px, -50%);
  z-index: 1;
  background: #2D2D39;
  padding: 8px;
  border-radius: 30px;
}

.float_filter ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.float_filter ul li a {
  background: #424251;
  color: var(--white-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 50%;
  margin: 10px 0;
}

.main_menu_hdr {
  background: none;
  z-index: 99;
  position: relative;
  width: 100%;
  left: 0;
  top: 0px;
  padding-top: 6px;
}

.left_top {
  display: flex;
  justify-content: flex-start;
}

.main_menu {
  display: block;
  position: relative;
  background: #fff;
  padding: 0px;
  border-radius: 15px;
}

.main_menu .navigation.navbar {
  padding: 0;
}

.container-menu {
  width: 80%;
  margin: 0 auto;
}

.logo {
  display: block;
  padding: 0 0px;
}

.logo a {
  position: relative;
  z-index: 1;
  width: 100px;
  display: block;
  margin-right: 20px;
}

.logo a img {
  width: 100%;
}

.btn_magnifing {
  background: var(--green-color);
  color: var(--white-color);
  border-radius: 0;
  padding: 10px;
}

.btn_magnifing:hover {
  background: var(--blue-color);
  color: var(--white-color);
}


.right_login {
  background: var(--white-color);
  padding: 6px 0 0 30px;
  border-radius: 0 0px;
}

.right_top {
  display: flex;
  justify-content: end;
}

.call a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
}

.icon_c a {
  color: var(--text-color);
  padding: 15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  background: transparent;
  border: 1px solid #1e1e1e;
}

.login {
  position: relative;
}

.login a {
  color: var(--text-color);
  text-decoration: none;
  transition: all ease-in 0.3s;
  padding-right: 10px;
  border-right: 1px solid #000;
}

.login a i {
  color: var(--green-color);
}

.main_menu_hdr .form-control,
.main_menu_hdr .new_york_city {
  width: 350px;
}

.form-control {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding: 12px;
  color: #282828;
  border-color: #acacac;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none !important;
  appearance: auto;
}

.form-control:focus {
  color: #282828;
  border-width: 1px;
  border-style: solid;
  outline: 0 none;
  background-color: #f7f7f8;
  box-shadow: none !important;
}

.form-group:not(:only-child),
.form-flex:not(:only-child) {
  margin-bottom: 16px;
}

.new_york_city {
  border: 1px solid #acacac;
  border-radius: 0;
  padding: 12px;
  margin-right: 11px;
  font-size: 14px;
  text-align: left;
}

.new_york_city:hover {
  border-color: #acacac;
}

.right_btm {
  text-align: right;
}


.banner_sec {
  width: 100%;
  background-size: cover;
  position: relative;
}

.slide .slide__img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0 0 0 / 82%), transparent);
}

.slider,
.slide {
  height: 90vh;
}

.slide {
  position: relative;
  transition: 1s;
}

.slide .slide__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right_btm_arrow .slick-nav {
  top: auto;
  bottom: 25px;
  z-index: 1;
}

.right_btm_arrow .slick-nav.next-arrow {
  left: auto;
  right: 100px;
}

.right_btm_arrow .slick-nav.prev-arrow {
  left: auto;
  right: 150px;
}

@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.slide .slide__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  transition: all 1s ease;
  object-fit: cover;
}

.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.slide .slide__content.slide__content__left {
  left: 20%;
  transform: translate(-20%, -50%);
}

.slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}

.slide .slide__content--headings {
  color: #FFF;
}

.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
  animation: fadeInLeft 0.5s both 1.5s;
}

.slide .slide__content--headings h5 {
  margin: 10px 0;
}

.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}

.slide .slide__content--headings .top-title {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  animation: fadeInLeft 1s both 1.5s;
}

.slide .slide__content--headings .title {
  font-size: 70px;
  font-weight: 700;
}

.slide .slide__content--headings .title span {
  color: #F78027;
}

.slidebottomleft {
  animation: fadeInUp 1.5s both 1.5s;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  top: 50%;
  right: 34px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 50px;
  transform: translate(0px, -50%);
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}

.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}

.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
  opacity: 1;
}

.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}

.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}

.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 1;
  width: 35px;
  height: 3px;
  padding: 0;
  border-radius: 30px;
}

.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
  opacity: 1;
}

.stick-dots .slick-dots li.slick-active button {
  color: var(--main-color);
  opacity: 1;
  width: 50px;
  background: var(--main-color);
}

.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}

.slider .slide.slick-active {
  animation: Slick-FastSwipeIn 1s both;
}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn {
  0% {
    transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
  }

  100% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
  }
}

@-webkit-keyframes ProgressDots {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

@keyframes ProgressDots {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }

  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
}

@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }

  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
}

.zoomInImage {
  -webkit-animation-name: zoomInImage;
  animation-name: zoomInImage;
}

@-webkit-keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }

  to {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }

  to {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
}

.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
  animation-name: zoomOutImage;
  transition: 1s;
}

.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px);
}

.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 1;
}

.slick-nav.next-arrow {
  left: auto;
  right: 3%;
}

.slick-nav i {
  display: block;
  position: absolute;
  margin: -7px 0 0 -8px;
  width: 16px;
  height: 15px;
  left: 50%;
  top: 50%;
  z-index: 1;
}

/* .slick-nav i:before,
.slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}

.slick-nav i:before {
  transform: rotate(-40deg);
}

.slick-nav i:after {
  transform: rotate(40deg);
} */

.slick-nav:before,
.slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}

.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}

.slick-nav.animate svg {
  -webkit-animation: stroke 1s ease forwards 0.3s;
  animation: stroke 1s ease forwards 0.3s;
}

.slick-nav.animate i {
  -webkit-animation: arrow 1.6s ease forwards;
  animation: arrow 1.6s ease forwards;
}

.slick-nav.animate i:before {
  -webkit-animation: arrowUp 1.6s ease forwards;
  animation: arrowUp 1.6s ease forwards;
}

.slick-nav.animate i:after {
  -webkit-animation: arrowDown 1.6s ease forwards;
  animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }

  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }

  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }

  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }

  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}

@-webkit-keyframes arrow {

  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }

  23% {
    transform: translateX(17px);
    opacity: 1;
  }

  24%,
  80% {
    transform: translateX(-22px);
    opacity: 0;
  }

  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}

@keyframes arrow {

  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }

  23% {
    transform: translateX(17px);
    opacity: 1;
  }

  24%,
  80% {
    transform: translateX(-22px);
    opacity: 0;
  }

  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}

@-webkit-keyframes arrowUp {

  0%,
  100% {
    transform: rotate(-40deg) scaleX(1);
  }

  20%,
  80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

@keyframes arrowUp {

  0%,
  100% {
    transform: rotate(-40deg) scaleX(1);
  }

  20%,
  80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

@-webkit-keyframes arrowDown {

  0%,
  100% {
    transform: rotate(40deg) scaleX(1);
  }

  20%,
  80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

@keyframes arrowDown {

  0%,
  100% {
    transform: rotate(40deg) scaleX(1);
  }

  20%,
  80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

.slick-nav:before,
.slick-nav:after {
  background: var(--white-color);
  border: none;
  transition: all ease-in 0.3s;
}

.slick-nav i {
  transform: rotate(324deg);
}

.slick-nav:hover:before,
.slick-nav:hover:after {
  background: var(--blue-color);
  border: none;
  transition: all ease-in 0.3s;
}

.slick-nav:hover i {
  color: var(--white-color);
  transition: all ease-in 0.3s;
}

/*-------- button Effect-------*/
.red_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 30px;
  border-radius: 30px;
  position: relative;
  color: var(--white-color);
  background: var(--green-color);
  text-decoration: none;
  overflow: hidden;
  border: 1px solid var(--green-color);
}

.red_btn span {
  font-weight: 500;
  position: relative;
  font-family: var(--button-font);
  letter-spacing: 2px;
  color: var(--white-color);
}

.red_btn:before {
  content: "";
  height: 0;
  width: 100%;
  transform: translateX(0%);
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--blue-color);
  border-radius: 0px;
  transition: all ease-in 0.3s;
}

.red_btn:hover:before {
  bottom: 0;
  transition: all ease-in 0.3s;
  height: 100%;
}

.red_btn:hover span {
  color: var(--white-color);
}

.red_btn.white_bg {
  color: var(--black-color);
  background: var(--white-color);
}

.red_btn.white_bg:before {
  background: rgb(255 255 255 / 50%);
}

.red_btn.white_bg span {
  color: var(--black-color);
}

.red_btn.black_bg {
  color: var(--white-color);
  background: var(--black-color);
}

.red_btn.black_bg:before {
  background: rgb(0 0 0 / 50%);
}

.red_btn.black_bg span {
  color: var(--white-color);
}

/*-------- button Effect-------*/
.heading_hp h2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--heading-color);
  position: relative;
}

.heading_hp h6 {
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 0px;
  text-transform: uppercase;
}

.heading_hp p {
  font-size: 15px;
  color: rgb(0 0 0 / 50%);
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}

.heading_hp.text_white h2,
.heading_hp.text_white p {
  color: var(--white-color);
}

.right_top_arrow .slick-nav {
  top: auto;
  bottom: 25px;
  z-index: 1;
}

.right_top_arrow .slick-nav.next-arrow {
  left: auto;
  right: 0px;
}

.right_top_arrow .slick-nav.prev-arrow {
  left: auto;
  right: 80px;
}

.right_top_arrow .slick-nav {
  top: calc(0% - 50px);
}

.right_middle_arrow .slick-nav {
  top: auto;
  bottom: -55px;
  z-index: 1;
}

.right_middle_arrow .slick-nav.next-arrow {
  left: auto;
  right: 45%;
}

.right_middle_arrow .slick-nav.prev-arrow {
  left: 45%;
  right: auto;
}


.feature_sec .slick-nav:before,
.feature_sec .slick-nav:after {
  background: rgb(0 0 0 / 10%);
}

.feature_text {
  font-size: 14px;
}

.commercial_propety {
  font-size: 14px;
  background: rgb(58 119 255 / 20%);
  color: #3A77FF;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 30px;
}

.feature_sec {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;
}

.feature_slid_padding {
  padding: 0 10px;
}

.feature_img {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  margin-bottom: 6px;
}

.feature_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wishlist_icon {
  width: 40px;
  height: auto;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all ease-in 0.3s;
}

.wishlist_icon a {
  width: 35px;
  height: 35px;
  background: #727272;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.wishlist_icon a:hover {
  color: #FC2525;
}

.wishlist_icon img {
  object-fit: contain;
}

.addtocart a {
  background: var(--green-color);
  padding: 8px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  transition: all ease-in 0.3s;
  border: 1px solid var(--green-color);
}

.addtocart a i {
  color: var(--green-color);
  transition: all ease-in 0.3s;
  margin-right: 6px;
}

.addtocart a:hover {
  background: var(--blue-color);
  color: var(--white-color);
  border: 1px solid var(--blue-color);
}

.addtocart a:hover i {
  color: var(--white-color);
  transition: all ease-in 0.3s;
}

.feature_text a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  min-height: 45px;
  display: block;
  line-height: 20px;
}

.price_text {
  display: block;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
}

.price_text span {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.for_sale .for_rent {
  background: #A52B48;
}

.for_sale .commercial_propety {
  background: rgb(255 193 7 / 20%);
  color: #FFC107;
}

.for_sale .agent_text {
  background: rgb(255 55 127 / 20%);
  color: #FF377F;
}

.for_sale .addtocart a {
  background: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.for_sale .addtocart a:hover {
  background: var(--green-color);
  border: 1px solid var(--green-color);
}

.feature_box {
  width: 100%;
  position: relative;
  border-radius: 0px;
  padding: 15px;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 20%);
}

.for_rent {
  font-size: 14px;
  color: var(--white-color);
  background: #8D44C6;
  border-radius: 0 30px 30px 0;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 3px 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.agent_text {
  background: rgb(255 76 55 / 20%);
  color: #FF4C37;
  padding: 0 12px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 6px;
  margin-top: 3px;
  font-size:12px;
}

.wishlist_rent {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #424251;
  color: var(--white-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star_ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.star_ul li i {
  color: #FFC107;
}

.star_ul li span {
  color: var(--text-color);
}

.star_ul li {
  font-size: 13px;
}

.manufacturer .for_rent {
  background: #A52B48;
}

.manufacturer .agent_text {
  background: rgb(9 189 124 / 18%);
  color: #09BD7C;
}


.services_sec {
  position: relative;
  padding-top: 50px;
}

.bg_services_bg {
  background: #F0EDED;
}

.img_box_card {
  position: relative;
  border-radius: 15px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  display: inline-block;
}

.img_servic {
  width: 150px;
  height: 150px;
  margin-top: 0px;
  background: #fff;
  border-radius: 75px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.img_servic span {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #FF4C37;
  border-radius: 50%;
  padding: 22px;
}

.ser_line {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.ser_line h4 {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 0;
  min-height: 40px;
}

.img_servic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.service_padding {
  padding: 10px 15px;
}

.agency_img_before_none:before {
  display: none;
}

.know_btn span {
  color: var(--green-color);
  padding-right: 5px;
}

.back_bg_box {
  background: #F78027;
  border-radius: 6px 6px 0 0;
  padding: 30px;
}

.before_ftr span {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin-bottom: 10px;
}

.before_ftr span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.before_ftr h4 {
  font-size: 18px;
  color: var(--white-color);
}

.before_ftr p {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--white-color);
}




.testimonial_sec {
  padding: 50px 0px;
}

/* slider styles */
.sd_master_wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  z-index: 9999;
}

.slid_show_padding {
  padding: 45px 15px 30px;
}

.testi_box {
  padding: 20px;
  position: relative;
  min-height: 250px;
  height: auto;
  background: #fff;
  box-shadow: 0px 9px 25px #CFE6EA;
  border-radius: 0px;
}

.testi_box span {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
}

.testi_text h4 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
}

.testi_box p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.testi_img span {
  width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.testi_img span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

span.quote_round {
  position: absolute !important;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #09BD26;
  border-radius: 50%;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -6px
}

.testi_img_box span {
  width: 300px;
  display: block;
  margin-right: -140px;
}

.testi_img_box span img {
  border-radius: 0 0 15px 15px;
  width: 100%;
}








.footer_sec {
  width: 100%;
  background: #040407;
  padding: 50px 0 30px 0;
}

.left_logo span {
  color: #fff;
}

.ftr_logo img {
  width: 150px;
}

.ftr_text_h p {
  margin: 0;
}

.left_aa ul {
  list-style: none;
  padding-left: 0;
}

.left_aa ul li a {
  color: rgb(255 255 255 / 60%);
  padding: 4px 0;
  display: block;
}

.left_logo p {
  color: var(--white-color);
  margin-bottom: 15px;
  font-size: 15px;
}

.left_logo ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.left_logo ul li {
  margin-right: 5px;
}

.left_logo ul li a {
  background: rgb(255 255 255 / 15%);
  color: #ffffff;
  padding: 12px;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  line-height: 0;
  box-shadow: 0 0 24px rgb(0 0 0 / 56%);
}

.border_left_btm {
  border-left: 1px solid rgb(255 255 255 / 35%);
  border-bottom: 1px solid rgb(255 255 255 / 35%);
  padding-left: 30px;
  padding-bottom: 20px;
}

.left_aa h4 {
  font-size: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}

.frt_btm ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.frt_btm ul li {
  padding: 0 10px;
}

.frt_btm ul li a {
  font-size: 15px;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
}

.copy_right {
  font-size: 13px;
  color: rgb(255 255 255 / 50%);
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: right;
  margin-top: 10px;
}

.copy_right a {
  color: rgb(255 255 255 / 50%);
  text-decoration: none;
}

.read_more_ftr {
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}

/*------------- Inner Page ----------------- */

.filter_map {
  border-top: 1px solid rgb(0 0 0 / 10%);
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 6px 0;
  position: relative;
  z-index: 9;
}

.ifreame_map {
  height: 83vh;
  width: 100%;
}

.filter_view_room {
  height: 83vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.ifreame_map iframe {
  height: 100%;
  width: 100%;
}

.filter_search {
  width: 100%;
  position: relative;
}

.filter_search i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0px, -50%);
  color: rgb(0 0 0 / 54%);
}

.filter_search .form-control {
  border-radius: 30px;
  padding: 12px 40px 12px 12px;
}

.funel_box .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.funel_box .form-group label {
  position: relative;
  cursor: pointer;
}

.funel_box .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1.5px solid #A9A9A9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.funel_box .form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.funel_box .form-group {
  margin-bottom: 4px;
}

.box_slae {
  width: 300px;
  height: 0px;
  background: white;
  position: absolute;
  right: 0;
  top: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 39px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.box_slae.active {
  height: auto;
  padding: 17px;
  transition: all 0.3s ease;
}

#deletebtn {
  width: 40px;
  height: 40px;
  background: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 11px;
  color: #1F6AFD;
  font-size: 22px;
}

.box_slae h6 i {
  color: #FFBF1C;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  cursor: pointer;
}

.form__radio-button {
  height: 18px;
  width: 18px;
  border: 2px solid var(--green-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translateY(-2px);
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: opacity 0.1s;
  transform: translate(-50%, -50%);
  background-color: var(--green-color);
  opacity: 0;
}

.form__radio-input:checked+.form__radio-label .form__radio-button:after {
  opacity: 1;
}

.save_search {
  display: flex;
  align-items: center;
}

.btn_filter {
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #acacac;
}

.btn_filter:hover,
.btn_filter:focus {
  border: 1px solid var(--green-color);
}

.filter_aplly {
  padding: 8px 10px;
  width: 100%;
  background: var(--green-color);
  display: block;
  margin-top: 10px;
  text-align: center;
  color: var(--white-color);
  border-radius: 30px;
}

.filter_view_room {
  padding: 20px;
}

/* Madhumanti-22-05-2024 */
.inner_banner_sec {
  padding: 150px 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.inner_banner_sec::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0 0 0 / 80%) 0%, transparent);
}

.inner-banner-text {
  position: relative;
}

.inner-banner-text h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0;
}

/* Property-Modal */
.property-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
.property-details-sec {
  padding: 50px 0px;
}

.property-img-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-img-others img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-img {
  width: 100%;
  position: relative;
}

.property-logo {
  width: 80px;
  padding-bottom: 15px;
}

.property-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.property-logo-div {
  border-bottom: 1px solid #000;
}

.propety-title {
  font-size: 14px;
    /* line-height: 15px; */
    background: rgb(58 119 255 / 20%);
    color: #3A77FF;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 30px;
    display: inline-block;
}

.property-details {
  padding: 15px 0px;
}

.mb-div {
  margin-bottom: 5px;
}

.propety-price {
  display: block;
  color: var(--text-color);
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}
.propety-price span{
  text-decoration: line-through;
  font-size: 18px;
  color: rgb(0 0 0 / 47%);
}
.propety-type span {
  font-weight: 400;
}

.propety-type {
  font-size: 14px;
  font-weight: 700;
}

.room-d-img {
  margin-right: 5px;
}

.room-d-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.room-details-text h3 {
  font-size: 14px;
    /* line-height: 6px; */
    font-weight: 400;
    margin-bottom: 0px;
}

.room-details {
  margin-right: 10px;
}

.bg_f7f7f7{
  background: #f7f7f7;
}
.tour-form .form-group label {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}

.tour-form .form-group {
  margin-bottom: 10px;
}

.tour-form .form-group .form-control {
  border-radius: 30px;
}

.tour-form .form-group textarea.form-control {
  border-radius: 0;
}

.request-btn {
  margin-top: 10px;
}

.request-btn a {
  background: var(--blue-color);
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.feature-head h3 {
  font-size: 14px;
  font-weight: 700;
}
.border_bottom{
  border-bottom: 1px solid #dbdbdb;
}
.feature-list ul li {
  font-size: 14px;
    /* line-height: 14px; */
    font-weight: 400;
    margin-bottom: 4px;
}

.property-details-div {
  width: 100%;
}
/*  */
.verified-div .dropdown{
  color: var(--blue-color);
}
.verified-div .dropdown button{
  border: none;
  background: transparent;
  color: var(--blue-color);
}
.fact_features li .nav-link{
  color: #000;
}
.fact_features li .nav-link.active{
  color: #fff;
  background: var(--blue-color);
}

.description-div p{
  font-size: 14px;
}

.description-div{
  padding-top: 10px;
}

.property-img .for_rent {
  border-radius: 30px 0 0 30px;
  left: auto;
  right: 0;
}






/*---- subscription -----*/
.subscription_page{
  padding: 50px 0;
}
/* #price {
  text-align: center;
} */

.plan {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
  box-shadow: 0 0 10px rgb(0 0 0 / 13%);
}

.entry-title {
  background: #44c4a7;
  height: 158px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 54px;
}

.entry-title>h3 {
  background: #11b791;
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}
.entry-title h6{
  font-size: 15px;
}
.entry-title .price {
  position: absolute;
  bottom: -50px;
  background: #11b791;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  color: #323232;
  padding: 0 18px 18px;
  min-height: 370px;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entry-content li {
  padding: 6px 0 6px 18px;
  font-size: 14px;
  position: relative;
}
.entry-content li:before{
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url(../images/tick.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.entry-content h5 {
  border-bottom: 1px solid rgb(0 0 0 / 9%);
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.subscri {
  width: 100%;
  text-align: center;
}
.subscri a {
  display: inline-block;
  padding: 8px 30px;
}
.hot {
  position: absolute;
  top: -7px;
  background: #F80;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 2px 5px;
  font-size: 9px;
  border-radius: 2px;
  right: 10px;
  font-weight: 700;
}
.basic .entry-title {
  background: #0f75ab;
}

.basic .entry-title > h3 {
  background: #006499;
}

.basic .price {
  background: #006499;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.ultimite .entry-title > h3 {
  background: #DD4B5E;
}

.ultimite .entry-title {
  background: #F75C70;
}

.ultimite .price {
  background: #DD4B5E;
}

/*---- subscription -----*/
.property-details-sec{
  border-top: 1px solid rgb(0 0 0 / 10%);
}
/*---- Property Type -----*/
.product_type{
  padding: 80px 0;
  border-top: 1px solid rgb(0 0 0 / 10%);
}
.product_car{
  background: var(--white-color);
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(0 0 0 / 10%);
}
.product_car span{
  width: 100%;
  height: 280px;
  margin: 0 auto 20px;
  display: inline-block;
}
.product_car span img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_car h4{
  font-size: 24px;
  font-weight: 800;
}
.product_car p{
  font-size: 15px;
  margin-bottom: 30px;
  min-height: 50px;
}
.product_car a{
  font-size: 16px;
  color: var(--blue-color);
  border-radius: 30px;
  border: 1px solid var(--blue-color);
  padding: 8px 8px;
  display: inline-block;
  width: 190px;
}

/*---- Property Type -----*/


/*---- Dashboard -----*/
.dashboard_sec{
  padding: 50px 0;
  border-top:1px solid rgb(0 0 0 / 10%);
}
.view_icon{
  color: var(--blue-color);
  margin-right: 10px;
}
.delete_icon{
  color: #ff0000;
}
.dashboard_sec .card-header{
 background: #beefe4;
}
.icon-shape{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-main{
  background: var(--green-color);
}

/*---- Dashboard -----*/

/* User Dashboard start  */
.list-group-item{
  border-radius: 0;
  border-right: 0;
  border-left: 0;

}
.list-group-item:first-child,
.list-group-item:last-child{
  border-radius: 0;
  border-bottom: none;
}
.list-group a:hover,
.list-group .active{
  background-color: var(--green-color);
  border-color: var(--green-color);
  color: var(--white-color);
}
.updateprofile_sec .btn_green{
background-color: var(--green-color);
width: 150px;
    border: none;
    outline: none;
    height: 44px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
/* User Dashboard end  */

/* review rating start  */


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.rating {
  --star-size: clamp(1rem, 5vw, 3rem);
  --star-clr-inactive: rgba(128, 128, 128, 0.7);
  --star-clr-active: rgb(245, 158, 11);
  --star-clr-hover: rgba(236, 201, 136, 0.2);
  --star-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating label {
  position: relative;
  cursor: pointer;
  width: var(--star-size);
  height: var(--star-size);
}
.rating label::before {
  content: "";
  position: absolute;
  inset: 50%;
  border-radius: 50%;
  background-color: var(--star-clr-hover);
  transition: rotate 450ms ease-in-out, inset 300ms ease-in-out;
  clip-path: var(--star-clip-path);
}
.rating label:hover::before {
  inset: -1rem;
  rotate: 45deg;
}
.rating label::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--star-clr-inactive);
  clip-path: var(--star-clip-path);
  transition: 300ms ease-in-out;
  scale: 0.75;
}
.rating label:has(~ label:hover)::after,
.rating label:has(~ label > :checked)::after,
.rating label:has(:checked)::after,
.rating label:hover::after {
  background-color: var(--star-clr-active);
  scale: 1;
}

.rating label:hover ~ label::after {
  scale: 0.75;
}
.rating label:active::before {
  inset: -2rem;
}


/* review rating end  */

.my-down.dropdown-menu[data-bs-popper]{
  left: unset;
  right: 0;
box-shadow: 0 3px  5px #666666;
border: none;
border-radius: 0;
min-width: 200px;
padding-bottom: 0;
padding-top: 0;
}

.dropdown-menu.my-down li{
 
  font-size:14px;
  padding-left: .8rem;
padding-right: .8rem;
padding-top: .5rem;
  padding-bottom: .5rem;

border-bottom: 1px solid #666;
transition: all .5s ease-in-out;
}
.dropdown-menu.my-down li:hover{
  background-color: var(--green-color);
  color: var(--white-color) ;
}
.dropdown-menu.my-down li:last-child{
  margin-bottom: 0;
  
}
.icon_cs .dropdown-toggle{
  color: #000;
}

